@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Customer"]</h1>
    <p>This is a simple application configured as your needs.</p>
    <h4>This application's version is @ViewData["Version"]</h4>
</div>
